                    /*========== google fonts ==========*/
                    
                    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
                    /*========== Colores ==========*/
                    
                    @keyframes change {
                        from,
                        to {
                            color: hsl(324, 70%, 45%);
                        }
                        10% {
                            color: hsl(360, 65%, 45%);
                        }
                        20% {
                            color: hsl( 36, 80%, 45%);
                        }
                        30% {
                            color: hsl( 72, 75%, 35%);
                        }
                        40% {
                            color: hsl(108, 65%, 35%);
                        }
                        50% {
                            color: hsl(144, 75%, 35%);
                        }
                        60% {
                            color: hsl(180, 75%, 35%);
                        }
                        70% {
                            color: hsl(216, 60%, 45%);
                        }
                        80% {
                            color: hsl(252, 65%, 50%);
                        }
                        90% {
                            color: hsl(288, 60%, 40%);
                        }
                    }
                    
                    @keyframes change2 {
                        from,
                        to {
                            background-color: hsl(324, 70%, 45%);
                        }
                        10% {
                            background-color: hsl(360, 65%, 45%);
                        }
                        20% {
                            background-color: hsl( 36, 80%, 45%);
                        }
                        30% {
                            background-color: hsl( 72, 75%, 35%);
                        }
                        40% {
                            background-color: hsl(108, 65%, 35%);
                        }
                        50% {
                            background-color: hsl(144, 75%, 35%);
                        }
                        60% {
                            background-color: hsl(180, 75%, 35%);
                        }
                        70% {
                            background-color: hsl(216, 60%, 45%);
                        }
                        80% {
                            background-color: hsl(252, 65%, 50%);
                        }
                        90% {
                            background-color: hsl(288, 60%, 40%);
                        }
                    }
                    
                    @keyframes change3 {
                        from,
                        to {
                            fill: hsl(324, 70%, 45%);
                        }
                        10% {
                            fill: hsl(360, 65%, 45%);
                        }
                        20% {
                            fill: hsl( 36, 80%, 45%);
                        }
                        30% {
                            fill: hsl( 72, 75%, 35%);
                        }
                        40% {
                            fill: hsl(108, 65%, 35%);
                        }
                        50% {
                            fill: hsl(144, 75%, 35%);
                        }
                        60% {
                            fill: hsl(180, 75%, 35%);
                        }
                        70% {
                            fill: hsl(216, 60%, 45%);
                        }
                        80% {
                            fill: hsl(252, 65%, 50%);
                        }
                        90% {
                            fill: hsl(288, 60%, 40%);
                        }
                    }
                    /*========== base ==========*/
                    
                    *,
                     ::before,
                     ::after {
                        box-sizing: border-box;
                    }
                    
                    html {
                        scroll-behavior: smooth;
                    }
                    
                    body {
                        margin: 3rem 0 0 0;
                        font-family: 'Poppins', sans-serif;
                        font-size: 0.938rem;
                        color: black;
                    }
                    
                    h1,
                    h2,
                    p {
                        margin: 0;
                    }
                    
                    ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                    }
                    
                    a {
                        text-decoration: none;
                    }
                    
                    img {
                        max-width: 100%;
                        height: auto;
                        display: block;
                    }
                    /*========== classe CSS ========== */
                    
                    .section-title {
                        position: relative;
                        font-size: 1.25rem;
                        animation: change 100s infinite;
                        margin-top: 1rem;
                        margin-bottom: 2rem;
                        text-align: center;
                    }
                    
                    .section-title::after {
                        position: absolute;
                        content: "";
                        width: 64px;
                        height: 0.18rem;
                        left: 0;
                        right: 0;
                        margin: auto;
                        top: 2rem;
                        animation: change2 100s infinite;
                    }
                    
                    .section {
                        padding-top: 3rem;
                        padding-bottom: 2rem;
                    }
                    /*========== layout ==========*/
                    
                    .bd-grille {
                        max-width: 1024px;
                        display: grid;
                        grid-template-columns: 100%;
                        grid-column-gap: 2rem;
                        width: calc(100% - 2rem);
                        margin-left: 1rem;
                        margin-right: 1rem;
                    }
                    
                    .l-header {
                        width: 100%;
                        position: fixed;
                        top: 0;
                        left: 0;
                        z-index: 100;
                        background-color: #fff;
                        box-shadow: 0 1px 4px rgba(146, 161, 176, .15);
                    }
                    /*========== nav ==========*/
                    
                    .nav {
                        height: 3rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-weight: 600;
                    }
                    
                    @media screen and (max-width: 768px) {
                        .nav__menu {
                            position: fixed;
                            top: 3rem;
                            right: -100%;
                            width: 80%;
                            height: 100%;
                            padding: 2rem;
                            background-color: black;
                            transition: .5s;
                        }
                    }
                    
                    .nav__item {
                        margin-bottom: 2rem;
                    }
                    
                    .nav__link {
                        position: relative;
                        color: #fff;
                    }
                    
                    .nav__link:hover {
                        position: relative;
                    }
                    
                    .nav__link:hover::after {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 0.18rem;
                        left: 0;
                        top: 2rem;
                        background-color: rgb(200, 200, 200);
                    }
                    
                    .nav__logo {
                        color: black;
                    }
                    
                    .nav__toggle {
                        color: black;
                        font-size: 1.5rem;
                        cursor: pointer;
                    }
                    /*Active menu*/
                    
                    .active::after {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 0.18rem;
                        left: 0;
                        top: 2rem;
                        background-color: black;
                    }
                    /*=== afficher menu ===*/
                    
                    .show {
                        right: 0;
                    }
                    /*========== accueil ==========*/
                    
                    .accueil {
                        height: calc(100vh - 3rem);
                        row-gap: 1rem;
                    }
                    
                    .accueil__data {
                        align-self: center;
                    }
                    
                    .accueil__title {
                        font-size: 2rem;
                        margin-bottom: 2.5rem;
                    }
                    
                    .accueil__title-color {
                        animation: change 100s infinite;
                    }
                    
                    .accueil__social {
                        display: flex;
                        flex-direction: column;
                    }
                    
                    .accueil__social-icone {
                        width: max-content;
                        margin-bottom: 1rem;
                        font-size: 1.5rem;
                        color: black;
                    }
                    
                    .accueil__social-icone:hover {
                        color: rgb(200, 200, 200);
                    }
                    
                    .accueil__img {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        width: 295px;
                    }
                    
                    .accueil__blob {
                        animation: change3 100s infinite;
                    }
                    
                    .accueil__blob-img {
                        width: 170px;
                    }
                    /*boutons*/
                    
                    button {
                        background: none;
                        color: inherit;
                        border: none;
                        padding: 0;
                        font: inherit;
                        cursor: pointer;
                        outline: inherit;
                    }
                    
                    .bouton {
                        display: inline-block;
                        animation: change2 100s infinite;
                        color: #fff;
                        padding: .75rem 2.5rem;
                        font-weight: 600;
                        border-radius: .5rem;
                    }
                    
                    .bouton:hover {
                        box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
                    }
                    
                    .bouton__cv {
                        margin-bottom: 1rem;
                    }
                    
                    .bouton__modal {
                        position: relative;
                        top: -2.2rem;
                        left: 33.5rem;
                        animation: change2 100s infinite;
                        padding: .0rem .55rem;
                        border-radius: .4rem;
                        z-index: 10;
                        transition: .4s;
                        display: flex;
                    }
                    
                    .bouton__modal-position {
                        transform: rotate(45deg);
                        font-size: 1.5rem;
                    }
                    
                    .bouton__modal:hover {
                        box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
                    }
                    /* ========== apropos ==========*/
                    
                    .apropos__conteneur {
                        row-gap: 2rem;
                        text-align: center;
                    }
                    
                    .apropos__conteneur {
                        row-gap: 2rem;
                        text-align: center;
                    }
                    
                    .apropos__subtitle {
                        margin-bottom: 1rem;
                    }
                    
                    .apropos__img {
                        justify-self: center;
                    }
                    
                    .apropos__img img {
                        width: 200px;
                        border-radius: .5rem;
                    }
                    
                    .apropos__texte {
                        margin-bottom: 2.5rem;
                    }
                    /* ========== etude ==========*/
                    
                    .etudes__conteneur {
                        row-gap: 2rem;
                        text-align: center;
                    }
                    
                    .etudes__conteneurnoflex {
                        row-gap: 2rem;
                        text-align: center;
                    }
                    
                    .etudes__subtitle {
                        margin-bottom: 1rem;
                    }
                    
                    .etudes__img {
                        justify-self: center;
                    }
                    
                    .etudes__img img {
                        width: 700px;
                        border-radius: .5rem;
                    }
                    
                    .etudes__texte-title {
                        margin-bottom: 2.5rem;
                        text-decoration: wavy underline;
                    }
                    
                    .etudes__texte {
                        margin-bottom: 2.5rem;
                    }
                    /* ========== compétences ==========*/
                    
                    .competences__conteneur {
                        row-gap: 2rem;
                        text-align: center;
                    }
                    
                    .competences__subtitle {
                        margin-bottom: 1rem;
                    }
                    
                    .competences__texte {
                        margin-bottom: 2rem;
                    }
                    
                    .competences__data {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        position: relative;
                        font-weight: 600;
                        padding: .5rem 1rem;
                        margin-bottom: 2rem;
                        border-radius: .5rem;
                        box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
                    }
                    /* .competences__data:hover {
                        transform: scale(1.015);
                        box-shadow: 0 0 50px 0 #0a3f2f;
                    } */
                    
                    .competences__icone {
                        font-size: 2rem;
                        margin-right: 1rem;
                        animation: change 100s infinite;
                    }
                    
                    .competences__noms {
                        display: flex;
                        align-items: center;
                    }
                    
                    .competences__bar {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        animation: change2 100s infinite;
                        height: .25rem;
                        border-radius: .5rem;
                        z-index: -10;
                    }
                    
                    .competences__cpp {
                        width: 75%;
                    }
                    
                    .competences__html {
                        width: 90%;
                    }
                    
                    .competences__css {
                        width: 70%;
                    }
                    
                    .competences__js {
                        width: 55%;
                    }
                    
                    .competences__php {
                        width: 60%;
                    }
                    
                    .competences__sql {
                        width: 65%;
                    }
                    
                    .competences__img {
                        border-radius: .5rem;
                    }
                    /* ========== stages ==========*/
                    
                    .stages__conteneur {
                        row-gap: 2rem;
                    }
                    
                    .stages__conteneurnoflex {
                        row-gap: 2rem;
                    }
                    
                    .stages__title {
                        margin-bottom: 1rem;
                        margin-top: 3rem;
                    }
                    
                    .stages__subtitle {
                        margin-bottom: 1rem;
                    }
                    
                    .stages__img {
                        justify-self: center;
                    }
                    
                    .stages__img img {
                        width: 700px;
                        border-radius: .5rem;
                    }
                    
                    .stages__texte {
                        margin-bottom: 2.5rem;
                    }
                    /* ========== projets ==========*/
                    
                    .projets__conteneur {
                        row-gap: 2rem;
                    }
                    
                    .projets__conteneurnoflex {
                        row-gap: 2rem;
                    }
                    
                    .projets__subtitle {
                        margin-bottom: 1rem;
                    }
                    
                    .projets__texte {
                        margin-bottom: 2.5rem;
                    }
                    
                    .sprojets__img {
                        justify-self: center;
                    }
                    
                    .projets__img img {
                        width: 700px;
                        border-radius: .5rem;
                    }
                    
                    .projets__img img:hover {
                        transform: scale(1.1);
                        transition: 1s;
                    }
                    /* ========== contact ==========*/
                    
                    .contact__input {
                        width: 100%;
                        font-size: 0.938rem;
                        font-weight: 600;
                        padding: 1rem;
                        border-radius: .5rem;
                        border: 1.5px solid black;
                        outline: none;
                        margin-bottom: 2rem;
                    }
                    
                    .contact__bouton {
                        display: block;
                        border: none;
                        outline: none;
                        font-size: 0.938rem;
                        cursor: pointer;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    /* ========== footer ==========*/
                    
                    .footer {
                        background-color: black;
                        color: #fff;
                        text-align: center;
                        font-weight: 600;
                        padding: 2rem 0;
                    }
                    
                    .footer__title {
                        font-size: 2rem;
                        margin-bottom: 2rem;
                    }
                    
                    .footer__social {
                        margin-bottom: 2rem;
                    }
                    
                    .footer__icone {
                        font-size: 1.5rem;
                        color: #fff;
                        margin: 0 1rem
                    }
                    /*==================== scroll up ====================*/
                    
                    .scrollup {
                        position: fixed;
                        right: 2.5rem;
                        /*bottom: -20%rem;*/
                        animation: change2 100s infinite;
                        padding: .3rem .3rem;
                        border-radius: .4rem;
                        z-index: 10;
                        transition: .4s;
                        display: flex;
                    }
                    
                    .scrollup__icone {
                        font-size: 1.5rem;
                        color: #FFF;
                    }
                    /* Show scroll */
                    
                    .show-scroll {
                        bottom: 2.5rem;
                    }
                    /*==================== modal ====================*/
                    
                    .modal__container {
                        background-color: rgba(0, 0, 0, 0.7);
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: 100;
                        border-radius: .4rem;
                        opacity: 0;
                        pointer-events: none;
                        transition: opacity 0.3 ease;
                    }
                    
                    .modal__container.afficher {
                        opacity: 1;
                        pointer-events: auto;
                    }
                    
                    .modal {
                        background-color: white;
                        width: 630px;
                        height: 891px;
                        padding: 3rem;
                    }
                    
                    .doc__pdf {
                        width: 100%;
                        height: 100%;
                    }
                    /* ========== media queries ==========*/
                    
                    @media screen and (min-width: 768px) {
                        body {
                            margin: 0;
                            font-family: 'Poppins', sans-serif;
                            font-size: 1rem;
                            color: black;
                        }
                        .section {
                            padding-top: 4rem;
                            padding-bottom: 3rem;
                        }
                        .section-title {
                            margin-bottom: 3rem;
                            position: relative;
                            font-size: 2rem;
                            animation: change 100s infinite;
                            margin-top: 1rem;
                            text-align: center;
                        }
                        .section-title::after {
                            width: 80px;
                            top: 3rem;
                        }
                        .nav {
                            height: calc(3rem + 1rem);
                        }
                        .nav__liste {
                            display: flex;
                            padding-top: 0;
                        }
                        .nav__item {
                            margin-left: 3rem;
                            margin-bottom: 0;
                        }
                        .nav__toggle {
                            display: none;
                        }
                        .nav__link {
                            color: black;
                        }
                        .accueil {
                            height: 100vh;
                        }
                        .accueil__title {
                            font-size: 3.5rem;
                            margin-bottom: 2.5rem;
                        }
                        .accueil__data {
                            align-self: flex-end;
                        }
                        .accueil__social {
                            padding-top: 0;
                            padding-bottom: 2.5rem;
                            flex-direction: row;
                            align-self: flex-end;
                        }
                        .accueil__social-icone {
                            margin-bottom: 0;
                            margin-right: 2rem;
                        }
                        .accueil__img {
                            width: 457px;
                            bottom: 15%;
                        }
                        .apropos__conteneur,
                        .etudes__conteneur,
                        .competences__conteneur {
                            grid-template-columns: repeat(2, 1fr);
                            align-items: center;
                            text-align: initial;
                        }
                        .apropos__img img {
                            width: 300px;
                        }
                        .projets__conteneur {
                            grid-template-columns: repeat(3, 1fr);
                            /*grid-template-rows: repeat(2, 1fr);*/
                            column-gap: 2rem;
                        }
                        .stages__conteneur {
                            grid-template-columns: repeat(2, 1fr);
                            column-gap: 2rem;
                        }
                        .contact__formulaire {
                            width: 360px;
                        }
                        .contact__conteneur {
                            justify-items: center;
                        }
                        .contact__bouton {
                            display: block;
                            border: none;
                            outline: none;
                            font-size: 1rem;
                            cursor: pointer;
                            margin-left: auto;
                            margin-right: auto;
                        }
                        .contact__input {
                            width: 100%;
                            font-size: 1rem;
                            font-weight: 600;
                            padding: 1rem;
                            border-radius: .5rem;
                            border: 1.5px solid black;
                            outline: none;
                            margin-bottom: 2rem;
                        }
                    }
                    
                    @media screen and (min-width: 1024px) {
                        .bd-grille {
                            margin-left: auto;
                            margin-right: auto;
                        }
                        .accueil__img {
                            right: 10%;
                        }
                    }